# Firebase Configuration
# Copy this file to .env and fill in your Firebase project credentials
// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
const firebaseConfig = {
  apiKey: "AIzaSyBiCY9PE2WIJ_Ft9iFrBTbkNtl2WG7qyj4",
  authDomain: "athlete-portal-d1a06.firebaseapp.com",
  projectId: "athlete-portal-d1a06",
  storageBucket: "athlete-portal-d1a06.firebasestorage.app",
  messagingSenderId: "171879765057",
  appId: "1:171879765057:web:ec0b61de98e5caf42ee2c0"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
